/* Override graph height */
.grl-dg {
  min-height: 500px !important;
}

.labelsmall {
  font-size: 12px;
  color: #666;
  display: flex;
  flex-direction: column; 
}

.labelsmall input {
  margin-top: 4px; 
}

.labelsmall:focus-within {
  color: #333;
}

.labelsmall input:focus {
  outline: 2px solid #007BFF;
  outline-offset: 2px;
}
