.layoutWrapper {
  max-width: 1300px;
  min-height: 400px;
  margin: auto;
}

.alertBanner {
  position: relative;
  left: 0;
  right: 0;
  background: purple;
  margin: -8px 0 8px -8px;
  width: calc(100% + 8px);
  border-radius: 0;
  padding: 4px;
  color: white;
  text-align: center;
}