.scenarioContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 1180px;
}

.scenarioTable {
  max-width: 1180px;
  overflow-x: auto;
}

.expectedResultsExpanded {
  margin-top: 20px;
  margin-bottom: 20px;
}