.rulesWrapper {
  min-height: 500px;
  border: 1px solid #d9d9d9;
}

.contentSection {
  margin: "0 8px";
}

.inputSection button {
  width: 10rem;
}

.spinner {
  min-height: 500px;

}

.tabs {
  width: 100%;
}

.scenarioGeneratorTab {
  gap: 1rem;
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .scenarioGeneratorTab {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .tabs {
    width: 350px;
  }
}
