.note :global(.grl-dn__header) {
  height: 35px;
}

.note :global(.grl-dn) {
  background: #fffde5;
}

.note :global(.grl-dn__header__icon) {
  height: 10px;
  width: 10px;
}

.note :global(.grl-dn__header__icon svg) {
  height: 15px;
}

.note :global(.grl-dn__header__text span:last-child) {
  display: none;
}

.note :global(textarea) {
  background: #fffde5;
  border-radius: 0 0 8px 8px;
}